* {
  --backgroun-color: {{ initParams.backgrounColor }};

  /* 
    This is an example of how to use MotorCortex's init params in css, using a css variable
      if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
  */
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--backgroun-color);
}

#text-root,#box-root{
  position: absolute;
  width: 100%;
  height: 100%;
}